<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>java_onvif_web</display-name>
    <welcome-file-list>
        <welcome-file>ajax/ajaxCommunication.jsp</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>service.CorsFilter</filter-class>
    </filter>
    <filter>
        <filter-name>WebViewFilter</filter-name>
        <filter-class>service.WebViewFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>WebViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>OnvifController</servlet-name>
        <servlet-class>webOnvif.OnvifController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModbusConnection</servlet-name>
        <servlet-class>webModbus.ModbusConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModbusButtonFunc</servlet-name>
        <servlet-class>webModbus.ModbusButtonFunc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginData</servlet-name>
        <servlet-class>webDatabase.LoginData</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>OnvifController</servlet-name>
        <url-pattern>/OnvifController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModbusConnection</servlet-name>
        <url-pattern>/ModbusConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModbusButtonFunc</servlet-name>
        <url-pattern>/ModbusButtonFunc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginData</servlet-name>
        <url-pattern>/LoginData</url-pattern>
    </servlet-mapping>
</web-app>